body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#week {
    color: #FFF;
    font-weight: bold;
    font-size: 20em;
    font-family: 'Roboto', sans-serif;
}

#greeting {
    color: #FFF;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

a, a:visited {
    color: white;
}

html, body {
    height: 100%;
}

footer {
    margin-top: 2em;
}

/* snow effect */ 
.snowflake {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
    z-index: 999;
}
